/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--border-color);
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}
.close {
    color: var(--text-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover {
    color: #aaa;
}
.team-member, .kernel-link {
    cursor: pointer;
}
#modal-contrast-btn {
    padding: 0;
    background: transparent;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    text-decoration: underline;
}
#legal-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    background: transparent;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 300;
    text-decoration: none;
}